@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "FS Future";
    src: url("./assets/fonts/FS_Future.TTF") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FutureD";
    src: url("./assets/fonts/futured.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #07090c;
    color: #f5f7fa;
    font-family: Inter, system-ui, sans-serif;
}

* {
    box-sizing: border-box;
}